<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

    <div>
        <p th:text="${person.getName()}+', '+${person.getYearOfBirth()}"></p>
    </div>

    <form th:method="GET" th:action="@{{id}/edit(id=${person.getId()})}">
        <input type="submit" th:value="Редактировать">
    </form>

    <form style="margin-top: 10px" th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" th:value="Удалить">
    </form>
</body>
</html>